[global]
# Port to use for etcd
#EtcdPort = 4001
# Hostname to use in messages - defaults to server hostname
#FelixHostname = hostname

[log]
# This is all here so that we get logs if etcd is down; all are overwritten
# by etcd config if working.
# If LogFilePath is never set anywhere, felix will not log to file.
LogFilePath = /var/log/calico/felix.log
# Log severities for the Felix log and for syslog.
#   Valid levels: NONE (no logging), DEBUG, INFO, WARNING, ERROR, CRITICAL
#LogSeverityFile   = INFO
#LogSeveritySys    = ERROR
#LogSeverityScreen = ERROR
